<div class="book-overview">
    <div class="reviewed-book-img-wrapper">
        <a href="">
            <img class="reviewed-book-img" src="../../build/img/img-articles/reviewed-book.svg" alt="">
        </a>
    </div>
    <div class="reviewed-book-text-wrapper">
        <p class="title">Феномен ZARA</p>
        <p class="author">Ковадонґа О’Ші</p>
        <p class="text">Этот культовый бренд знаком всем. Лидер мирового рейтинга компаний-ритейлеров  под своим флагом объединил такие известные торговые марки, как Pull & Bear, Massimo Dutti, Oysho, Bershka, Stradivarius, Uterqüe ... В чем феномен Zara? И каково было восхождение на вершину олимпа моды? История этого бренда может нас многому научить!</p>
    </div>
</div>
