<section class="articles">
    <h1 class="h1-main-style">Статьи</h1>
    <div class="articles-hat">
        <span class="author-books-count">97 статей</span>
        <button class="sort">
            <div class="icon-more">
                <div class="icon-more-dots"></div>
                <div class="icon-more-dots"></div>
                <div class="icon-more-dots"></div>
            </div>
            <span>Сортировать</span>
        </button>
    </div>
    <div class="btn-choose-subcategories-wrapper">
        <button class="btn-choose-subcategories">
            <span>Выбрать подкатегорию</span>
        </button>
    </div>
    <ul class="articles-preview-list">
        <li  class="article-preview-block-wrapper">
            <!-- FileInjector:articlePreviewBlock -->
        </li>
        <li  class="article-preview-block-wrapper">
            <!-- FileInjector:articlePreviewBlock -->
        </li>
        <li  class="article-preview-block-wrapper">
            <!-- FileInjector:articlePreviewBlock -->
        </li>
    </ul>

    <div class="more-product-spinner"></div>
</section>
