<div class="article-preview-block">
    <div class="article-preview-hat">
        <div class="subcategories-data-wrapper">
            <p class="subcategories-title">Художественная литература</p>
            <p class="article-data">13 апреля 2016 г.</p>
        </div>
        <div class="count-comments-wrapper">
            <div data-count="2" class="icon-comments"></div>
        </div>
    </div>
    <div class="article-preview-img">
        <img src="../../build/img/img-articles/preview.svg" alt="">
    </div>
    <div class="article-preview-text">
        <p class="article-title">5 книг на тему, которая касается каждого</p>
        <p class="article-annotation">У нее нет другого названия. Все остальные наречения это компромисс – с политиками, действующей властью…</p>
    </div>
</div>
