<section class="characteristics">
    <h2 class="h2-style-product">Характеристики</h2>
    <div class="characteristics-table-wrapper">
        <div class="characteristics-table">
            <div class="property-wrapper">
                <div class="property">
                    <p>Автор</p>
                </div>
                <div class="value">
                    <a href="">Ник Вуйчич</a>
                </div>
            </div>
            <div class="property-wrapper">
                <div class="property">
                    <p>Издательство</p>
                </div>
                <div class="value">
                    <a href="">Видавництво Форс</a>
                </div>
            </div>
            <div class="property-wrapper">
                <div class="property">
                    <p>Год издания</p>
                </div>
                <div class="value">
                    <span>2016</span>
                </div>
            </div>
            <div class="property-wrapper">
                <div class="property">
                    <p>Переводчик</p>
                </div>
                <div class="value">
                    <a href="">Олег Добряков</a>
                </div>
            </div>
            <div class="property-wrapper">
                <div class="property">
                    <p>ISBN</p>
                </div>
                <div class="value">
                    <span>978-617-7347-00-1</span>
                </div>
            </div>
            <div class="property-wrapper">
                <div class="property">
                    <p>Серия</p>
                </div>
                <div class="value">
                    <a href="">True Story</a>
                </div>
            </div>
            <div class="property-wrapper">
                <div class="property">
                    <p>Переплет</p>
                </div>
                <div class="value">
                    <span>Твердый</span>
                </div>
            </div>
            <div class="property-wrapper">
                <div class="property">
                    <p>Формат</p>
                </div>
                <div class="value">
                    <span>60×84/16 (145x200 мм)</span>
                </div>
            </div>
            <div class="property-wrapper">
                <div class="property">
                    <p>Кол-во страниц</p>
                </div>
                <div class="value">
                    <span>352</span>
                </div>
            </div>
            <div class="property-wrapper">
                <div class="property">
                    <p>Вес</p>
                </div>
                <div class="value">
                    <span>400 г</span>
                </div>
            </div>
        </div>
    </div>
</section>
