<section class="delivery-pay">
    <h2 class="h2-style-product">Доставка</h2>
    <ul class="delivery-list">
        <li class="info-delivery-wrapper show-all-info-delivery-pay">
            <div class="info-delivery-short">
                <p>Доставка по Киеву - <span>бесплатно</span></p>
            </div>
            <div class="info-delivery-long">
                <p>Доставка осуществляется в день заказа или на следующий день при условии, что книга есть на складе.</p>
                <p>Также по желанию вы можете указать день доставки (позиции, которые отсутствуют будут вам доставлены в течении 7-10 дней при условии, что они есть на складе издательства).</p>
            </div>
        </li>
        <li class="info-delivery-wrapper">
            <div class="info-delivery-short">
                <p>Самовывоз - <span>бесплатно</span></p>
            </div>
            <div class="info-delivery-long"></div>
        </li>
        <li class="info-delivery-wrapper">
            <div class="info-delivery-short">
                <p>Новая почта на склад - <span>28 грн</span></p>
            </div>
            <div class="info-delivery-long"></div>
        </li>
        <li class="info-delivery-wrapper">
            <div class="info-delivery-short">
                <p>Новая почта на руки - <span>от 45 грн</span></p>
            </div>
            <div class="info-delivery-long"></div>
        </li>
        <li class="info-delivery-wrapper">
            <div class="info-delivery-short">
                <p>Мист Экспресс на склад - <span>от 30 грн</span></p>
            </div>
            <div class="info-delivery-long"></div>
        </li>
        <li class="info-delivery-wrapper">
            <div class="info-delivery-short">
                <p>Мист Экспресс на руки - <span>от 35 грн</span></p>
            </div>
            <div class="info-delivery-long"></div>
        </li>
    </ul>

    <h2 class="h2-style-product">Оплата</h2>
    <ul class="pay-list">
        <li class="info-pay-wrapper">
            <div class="info-pay-short">
                <p>Наличными</p>
            </div>
            <div class="info-pay-long"></div>
        </li>
        <li class="info-pay-wrapper">
            <div class="info-pay-short">
                <p>Наложенным платежом</p>
            </div>
            <div class="info-pay-long"></div>
        </li>
        <li class="info-pay-wrapper">
            <div class="info-pay-short">
                <p>Банковский платеж</p>
            </div>
            <div class="info-pay-long"></div>
        </li>
        <li class="info-pay-wrapper">
            <div class="info-pay-short">
                <p>С помощью онлайн сервисов оплаты</p>
            </div>
            <div class="info-pay-long"></div>
        </li>
    </ul>
</section>
