<section class="description">
    <h2 class="h2-style-product">Описание</h2>
    <div class="description-text-wrapper">
        <h3 class="paragraph-heading">Про книгу</h3>
        <p>Книга "Життя без обмежень" не вирішить всіх ваших проблем, вона не містить знайомих всім кліше чи універсальних правил. Проте вона містить дещо більше</p>
        <p>Нік відверто та з притаманним тільки йому  гумором ділиться з читачем своєю історією. Без прикрас розповідає про ті труднощі, які йому довелося пережити, про відчай та невпевненість.</p>
        <p>Про щоденну наполегливу працю над собою, зрештою - про свій успіх, який почався з віри. Зараз Нік веде насичене життя, він люблячий батько та чоловік. Саме про те, як від непевності, невдач, особистих криз перейти до життя, сповненого віри і радості, життя без обмежень – про це читачі зможуть дізнатися з книги на прикладі самого автора. Він впевнений, що без поразки не буває перемоги: «Невдача - прекрасний вчитель. Невдача загартовує характер. Невдача мотивує людину. Невдача допомагає цінувати успіх".</p>
        <h3 class="paragraph-heading">Серія</h3>
        <p>Книга входить до серії True Story. Неймовірні історії з життя звичайних людей, наших сучасників. Захоплюючі пригоди, неочікувані повороти, хитрощі долі та багато-багато цікавого.</p>
        <h3 class="paragraph-heading">Про автора</h3>
        <p>Сьогодні Нік Вуйчич – один з найвідоміших людей, неперевершений оратор, меценат, письменник, бізнесмен. Він об’їздив половину світу і своїми виступами, своїм прикладом надихає мільйони людей. Це дивовижна людина з величезною волею до життя і непереборним оптимізмом. Нік знайшов у собі силу та мужність досягти своїх мрій та несе цю силу та впевненість іншим.</p>
    </div>
</section>
