<section class="other-editions">
    <h2 class="h2-style-product">Вы можете купить книгу «Життя без обмежень» в других изданиях</h2>
    <ul class="other-editions-list">
        <li>
            <div class="edition-name-wrapper">
                <a class="edition-name" href="">Азбука-Аттикус, 2016 г.</a>
            </div>
            <div class="price-available-wrapper">
                <button class="buy-in-another-edition" type="button" name="button">
                    <span>173</span>
                </button>
            </div>
        </li>
        <li>
            <div class="edition-name-wrapper">
                <a class="edition-name" href="">1C, 2016 г.</a>
            </div>
            <div class="price-available-wrapper">
                <button class="buy-in-another-edition" type="button" name="button">
                    <span>168</span>
                </button>
            </div>
        </li>
        <li>
            <div class="edition-name-wrapper">
                <a class="edition-name" href="">KM Publishing, 2015 г.</a>
            </div>
            <div class="price-available-wrapper">
                <span class="not-available">нет в продаже</span>
            </div>
        </li>
    </ul>
</section>
