<section class="sections">
    <h2 class="h2-style-product">Разделы в которых можно купить
книгу «Життя без обмежень»</h2>
    <div class="sections-wrapper">
        <div class="section-wrapper">
            <ul class="breadcrumbs">
              <li><a href="#">Книги</a></li>
              <li><a href="#">Нехудожественная литература</a></li>
              <li><a href="#">Общественные и гумманитарные науки</a></li>
              <li><a href="#">Психология</a></li>
              <li><a href="#">Практическая психология</a></li>
              <li class="active">Искусство быть счастливым</li>
            </ul>
        </div>
        <div class="section-wrapper">
            <ul class="breadcrumbs">
              <li><a href="#">Книги</a></li>
              <li><a href="#">Нехудожественная литература</a></li>
              <li><a href="#">Публицистика</a></li>
              <li><a href="#">Общество</a></li>
            </ul>
        </div>
        <div class="section-wrapper">
            <ul class="breadcrumbs">
              <li><a href="#">Книги</a></li>
              <li><a href="#">Нехудожественная литература</a></li>
              <li><a href="#">Публицистика</a></li>
              <li><a href="#">Другие издания</a></li>
            </ul>
        </div>
    </div>
</section>
