<section class="personal-acc">
    <p class="title">Личный кабинет</p>
    <div class="profile-block">
        <div class="avatar-name-wrapper">
            <img src="../../build/img/img-user/avatar.svg" alt="" class="avatar">
            <p class="user-name">Иванов Вадим Алексеевич</p>
        </div>
        <a href="" class="change-avatar">изменить</a>
    </div>
    <ul class="user-info">
        <li><a href=""><span>Личная информация</span></a></li>
        <li><a href=""><span>Изменить пароль</span></a></li>
        <li><a href=""><span class="order-count" data-count="1">Мои заказы</span></a></li>
        <li><a href=""><span>Социальные аккаунты</span></a></li>
        <li><a href=""><span>Моя скидка</span></a></li>
    </ul>
    <div class="my-orders-wrapper">
        <p class="subtitle">Мои заказы</p>
        <div class="mini-order-wrapper">
            <!-- FileInjector:miniOrder -->
        </div>
        <div class="mini-order-wrapper">
            <!-- FileInjector:miniOrder -->
        </div>
        <div class="mini-order-wrapper">
            <!-- FileInjector:miniOrder -->
        </div>
        <button class="look-all-orders">Посмотреть все заказы</button>
    </div>
    <div class="my-discount-wrapper">
        <p class="subtitle">Моя скидка</p>
        <div class="discount-info-block">
            <p>У вас пока нет скидки</p>
        </div>
        <div class="get-discount-block">
            <a href="">Узнать как получить скидку</a>
        </div>
    </div>
    <button class="exit">Выйти с аккаунта</button>
</section>
