<section class="authorization">
    <h1 class="h1-main-style">Вход</h1>
    <div class="user-close-btn"></div>
    <div class="social-network-entrance">
        <p>Войдите через социальную сеть</p>
        <div class="icons-wrapper">
            <a href=""><img src="../../build/img/img-user/fb.svg" alt=""></a>
            <a href=""><img src="../../build/img/img-user/gmail.svg" alt=""></a>
        </div>
    </div>
    <form action="">
        <div class="input-forms-wrapper">
            <p class="input-title">Ваша электронная почта или телефон</p>
            <input class="user-input" type="text" name="e-mail" value="">
            <p class="input-title">Ваш пароль</p>
            <div class="remind-password-wrapper">
                <input class="user-input" type="text" name="e-mail" value="">
                <a class="remind-password" href="#">забыли?</a>
            </div>
            <button class="enter-btn"  type="button" name="button">Войти</button>
        </div>
        <button class="checkin-btn"  type="button" name="button">Регистрация</button>
    </form>

</section>
