<section class="user-discount">
    <button class="back-to-acc"><span>Вернуться в личный кабинет</span></button>
    <p class="order-titul">Моя скидка</p>
    <div class="inner-wrapper">
        <div class="discount-info-block">
            <p>У вас пока нет скидки</p>
        </div>
        <div class="buy-amount-wrapper">
            <p class="buy-amount">Сумма покупок</p>
            <div class="user-buy-amount">
                <p>220</p>
            </div>
        </div>
        <ul class="discount-table">
            <li>
                <p class="title">Группы членов клуба «Букля»</p>
            </li>
            <li class="bronze">
                <div class="status-name">
                    <p>Bronze</p>
                    <div class="discount-rate">1%</div>
                </div>
                <p class="condition">Чтобы получить Bronze статус, купите товары на 350.00 грн</p>
            </li>
            <li class="silver">
                <div class="status-name">
                    <p>Silver</p>
                    <div class="discount-rate">3%</div>
                </div>
                <p class="condition">Чтобы получить Silver статус, купите товары на 700.00 грн</p>
            </li>
            <li class="gold">
                <div class="status-name">
                    <p>Gold</p>
                    <div class="discount-rate">5%</div>
                </div>
                <p class="condition">Чтобы получить Gold статус, купите товары на 1000.00 грн</p>
            </li>
            <li class="platinum">
                <div class="status-name">
                    <p>Platinum</p>
                    <div class="discount-rate">7%</div>
                </div>
                <p class="condition">Чтобы получить Platinum статус, купите товары на 5000.00 грн</p>
            </li>
        </ul>
    </div>
</section>
