<div class="mini-order">
    <ul class="mini-order-table">
        <li class="column">
            <p class="property">Номер заказа</p>
            <p class="value order-number">№187451</p>
        </li>
        <li class="column">
            <p class="property">Дата заказа</p>
            <p class="value">16.07.2017</p>
        </li>
        <li class="column">
            <p class="property">Итого</p>
            <p class="value">76.89 <span>грн</span></p>
        </li>
    </ul>
    <a href="" class="look-my-order"><span>Посмотреть заказ</span></a>
</div>
