<div class="ordered-product">
    <div class="top">
        <div class="ordered-product-img-wrapper">
            <a href="">
                <img src="../../build/img/img-user/book.svg" alt="">
            </a>
        </div>
        <div class="ordered-product-info-wrapper">
            <div class="ordered-product-title-wrapper">
                <p class="ordered-product-title">
                    <a href="">Как рисовать супергероев. Эксклюзивное интервью</a>
                </p>
            </div>
            <p class="ordered-product-author-name">Стэн Ли</p>
        </div>
    </div>
    <p class="isbn">ISBN</p>
    <div class="bottom">
        <p class="isbn-number">978-5-227-04272-4</p>
        <p class="count">1 шт.</p>
        <p class="price">472 грн</p>
    </div>
</div>
