<section class="registration">
    <h1 class="h1-main-style">Регистрация</h1>
    <div class="user-close-btn"></div>
    <div class="social-network-entrance">
        <p>Регистрация через социальные сети</p>
        <div class="icons-wrapper">
            <a href=""><img src="../../build/img/img-user/fb.svg" alt=""></a>
            <a href=""><img src="../../build/img/img-user/gmail.svg" alt=""></a>
        </div>
    </div>
    <form action="">
        <div class="input-forms-wrapper">
            <div class="requirement-wrapper">
                <p class="input-title">Имя</p>
                <span class="requirement">Минимум 8 символов</span>
            </div>
            <input class="user-input  input-error" type="text" name="name" value="">
            <p class="input-title">Фамилия</p>
            <input class="user-input" type="text" name="surname" value="">
            <p class="input-title">Телефон</p>
            <input class="user-input" type="text" name="phone" value="">
            <p class="input-title">Электронная почта</p>
            <input class="user-input" type="text" name="e-mail" value="">
            <div class="captcha-block-wrapper">
                <p class="input-title">Введите текст с картинки</p>
                <div class="captcha-block">
                    <img src="../../build/img/img-user/captcha.svg" alt="" class="captcha">
                    <input type="text" class="user-input">
                </div>
            </div>

        </div>
    </form>
    <p class="notice"><span>*</span>Все поля обязательны для заполнения</p>
    <button class="to-register"  type="button" name="button">Зарегистрироваться</button>
</section>
