<section class="user-order">
    <button class="back-to-order-list"><span>Вернуться в список моих заказов</span></button>
    <p class="order-titul">Заказ №187451</p>
    <div class="full-order-wrapper">
        <div class="full-order">
            <ul class="full-order-table">
                <li class="column">
                    <p class="property">Номер заказа</p>
                    <p class="value order-number">№187451</p>
                </li>
                <li class="column">
                    <p class="property">Дата заказа</p>
                    <p class="value">16.07.2017</p>
                </li>
                <li class="column">
                    <p class="property">Кол-во товаров</p>
                    <p class="value">2 товара</p>
                </li>
            </ul>
            <div class="ordered-product-wrapper">
                <!-- FileInjector:orderedProduct -->
            </div>
            <div class="ordered-product-wrapper">
                <!-- FileInjector:orderedProduct -->
            </div>
            <p class="total-amount">Итого <span>525 <span>грн</span></span></p>
        </div>
        <div class="info-about-order-wrapper">
            <div class="titul">Информация о заказе</div>
            <div class="info-about-order">
                <div class="feature-wrapper">
                    <p class="property">Способ оплаты</p>
                    <p class="value"><b>Наличные</b></p>
                </div>
                <div class="feature-wrapper">
                    <p class="property">Способ доставки</p>
                    <p class="value"><b>Самовывоз</b></p>
                </div>
                <div class="feature-wrapper">
                    <p class="property">Имя и фамилия</p>
                    <p class="value">Иванов Вадим</p>
                </div>
                <div class="feature-wrapper">
                    <p class="property">Телефон</p>
                    <p class="value">+38 (050) 000-0000</p>
                </div>
                <div class="feature-wrapper">
                    <p class="property">Эл. почта</p>
                    <p class="value">cerebradm@gmail.com</p>
                </div>
            </div>
        </div>
    </div>

</section>
