<section class="user-orders">
    <button class="back-to-acc"><span>Вернуться в личный кабинет</span></button>
    <div class="inner-wrapper">
        <div class="btn-orders">
            <button class="all-orders active">Все заказы</button>
            <button class="active-orders">Активные заказы</button>
        </div>
    </div>
    <div class="my-orders-wrapper">
        <div class="mini-order-wrapper">
            <!-- FileInjector:miniOrder -->
        </div>
        <div class="mini-order-wrapper">
            <!-- FileInjector:miniOrder -->
        </div>
        <div class="mini-order-wrapper">
            <!-- FileInjector:miniOrder -->
        </div>
        <div class="mini-order-wrapper">
            <!-- FileInjector:miniOrder -->
        </div>
    </div>
    <div class="more-product-spinner"></div>
</section>
