<section class="user-social-accounts">
    <button class="back-to-acc"><span>Вернуться в личный кабинет</span></button>
    <p class="order-titul">Социальные аккаунты</p>
    <ul class="social-accounts-list">
        <li>
            <a href="">
                <img src="../../build/img/img-user/fb.svg" alt="">
                <p>Привязать аккаунт</p>
                <span class="change-acc">изменить</span>
            </a>
        </li>
        <li class="user-account">
            <a href="">
                <img src="../../build/img/img-user/gmail.svg" alt="">
                <p>Ivanov Vadim</p>
                <span class="change-acc">изменить</span>
            </a>
        </li>
    </ul>
</section>
