<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Booklyua</title>
  <link rel="stylesheet" href="../../build/css/style.css"> <!-- Подключаем CSS -->
</head>
<body>
    <div class="app">
        <div class="menu-wrapper">
            <i class="icon-arrow-left close-menu"></i>
            <!-- FileInjector:menu -->
            <div class="overlay"></div>
        </div>

        <div class="content-wrapper">
            <div class="content-inner-wrapper">
                <div class="header-wrapper">
                    <!-- FileInjector:header -->
                </div>
                <div class="pages-wrapper">
                    <!-- FileInjector:pagesContent -->
                </div>
                <!-- FileInjector:footer -->
                <button class="scroll-top"><span>Наверх</span></button>
            </div>
        </div>
        <div class="100vh-element"></div>
        <div class="pop-up-overlay-wrapper">
            <!-- FileInjector:popUp -->
            <div class="overlay-pop-up"></div>
        </div>
    </div>


    <script>
    (() => {
        const app = document.querySelector('.app');
        const openMenuBtn = document.querySelector('.header-btn');
        const closeMenuBtn = document.querySelector('.close-menu');


        openMenuBtn.addEventListener('click', function () {
            app.classList.add('open-menu');
        });
        closeMenuBtn.addEventListener('click', function () {
            app.classList.remove('open-menu');
        });
    })();
    </script>

    <script src="../../libs/jquery/dist/jquery.min.js"></script>
    <script src="../../libs/jquery.maskedinput.js"></script>

    <script>
        $(document).ready(function () {
            var $app = $('.app');
            var $giveFeedback = $('.give-feedback');
            var $closePopUp = $('.pop-up-close-btn');
            var $popUp = $('.pop-up');
            var $innerWrapperPopUp = $('.pop-up-inner-wrapper');
            var $chooseReview = $('.choose-review');
            var $chooseComment = $('.choose-comment');
            var $popUpSelect = $('.pop-up-select-wrapper');
            var $popUpReview = $('.pop-up-review-wrapper');
            var $popUpComment = $('.pop-up-comment-wrapper');
            var $popUpSendBTN = $('.pop-up-send-btn');
            var $popUpSuccess = $('.pop-up-success-wrapper');
            var $scrollUp = $('.scroll-top');

            $giveFeedback.click(function () {
                $app.addClass('open-pop-up');
                $popUp.addClass('pop-up-select');
                $popUpSelect.show();
            });
            $closePopUp.click(function () {
                $app.removeClass('open-pop-up');
                $popUp.removeClass('pop-up-select');
                $popUp.removeClass('pop-up-comment');
                $popUp.removeClass('pop-up-review');
                $popUp.removeClass('pop-up-success');
                $popUpReview.hide();
                $popUpComment.hide();
                $popUpSuccess.hide();
            });

            $chooseReview.click(function () {
                $popUpSelect.hide();
                $popUpReview.show();
                $popUp.removeClass('pop-up-select');
                $popUp.addClass('pop-up-review');
            });

            $chooseComment.click(function () {
                $popUpSelect.hide();
                $popUpComment.show();
                $popUp.removeClass('pop-up-select');
                $popUp.addClass('pop-up-comment');
            });

            $popUpSendBTN.click(function () {
                $popUpComment.hide();
                $popUpReview.hide();
                $popUp.removeClass('pop-up-review');
                $popUp.removeClass('pop-up-comment');
                $popUp.addClass('pop-up-success');
                $popUpSuccess.show();
            });

            // $(function(){
            //   $(".mobile-phone").mask("+38 (999)999-99-99");
            // });
                // КНОПКА ПРОКРУТКИ ВВЕРХ
            $(".content-inner-wrapper").scroll(function(){
                if ($(this).scrollTop() > 300) {
                    $scrollUp.fadeIn();
                } else {
                    $scrollUp.fadeOut();
                }
            });
            $scrollUp.click(function(){
                $(".content-inner-wrapper").animate({
                    scrollTop: 0
                 }, 1000);
                return false;
           });
        })
    </script>
</body>
</html>
