<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Booklyua</title>
  <link rel="stylesheet" href="../../build/css/style.css"> <!-- Подключаем CSS -->
</head>
<body>
    <div class="app">
        <div class="menu-wrapper">
            <i class="icon-arrow-left close-menu"></i>
            <!-- FileInjector:menu -->
            <div class="overlay"></div>
        </div>

        <div class="content-wrapper">
            <div class="content-inner-wrapper">
                <div class="header-wrapper">
                    <!-- FileInjector:header -->
                </div>
                <div class="pages-wrapper">
                    <!-- FileInjector:pagesContent -->
                </div>
                <!-- FileInjector:footer -->
            </div>
        </div>

        <div class="pop-up-overlay-wrapper">
            <!-- FileInjector:popUp -->
            <div class="overlay-pop-up"></div>
        </div>
    </div>


    <script>
        (() => {
            const app = document.querySelector('.app');
            const openMenuBtn = document.querySelector('.header-btn');
            const closeMenuBtn = document.querySelector('.close-menu');

            const giveFeedback = document.querySelector('.give-feedback');
            const closePopUp = document.querySelector('.pop-up-close-btn');
            const popUp = document.querySelector('.pop-up');
            const innerWrapperPopUp = document.querySelector('.pop-up-inner-wrapper');


            openMenuBtn.addEventListener('click', function () {
                app.classList.add('open-menu');
            });
            closeMenuBtn.addEventListener('click', function () {
                app.classList.remove('open-menu');
            });

            giveFeedback.addEventListener('click', function () {
                app.classList.add('open-pop-up');
                popUp.classList.add('pop-up-select');
            });
            closePopUp.addEventListener('click', function () {
                app.classList.remove('open-pop-up');
                popUp.classList.remove('pop-up-select');
            });
        })();
    </script>


</body>
</html>
