<div class="bg-product">
    <div class="img-product-wrapper">
        <a href=""><img src="../../build/img/img-product/book8.svg" alt=""></a>
    </div>
    <div class="bg-product-info-wrapper">
        <div class="book-title-wrapper">
            <p class="book-title">
                <a href="">The Great Railway Bazaar</a>
            </p>
        </div>
        <p class="author-name">Пол Теру</p>
        <div class="star-rating-wrapper">
            <!-- FileInjector:starRating -->
            <span class="star-rating-counting">3.5</span>
        </div>
        <p class="product-price">475</p>
    </div>
</div>
