<footer>
    <ul class="footer-nav">
      <li>
        <ul class="footer-nav-user">
          <li class="user">
              <a href="">Личный кабинет</a>
          </li>
          <li class="footer-cart">
              <a href="">Корзина</a></li>
        </ul>
      </li>
      <li class="footer-link-bg">
          <a href="">
              <span>Доставка</span>
           </a>
       </li>
      <li>
          <a href="">
              <span>Оплата</span>
           </a>
       </li>
    </ul>
    <div class="footer-bottom">
      <div class="to-main-site">
        <a href="">
            <span>На основной сайт</span>
        </a>
      </div>
      <div class="rules-block">
        <a href="">Правила использования сайта</a>
      </div>
      <div class="copyright-section">
        <span>&#169; Booklya 2008 - 2017 </span>
        <span>Все права защищены</span>
      </div>
    </div>
</footer>
