<header>
  <div class="header-top-block">
    <div class="header-btn"></div>
    <div class="logo-wrapper">
      <a href="#">
        <img src="../../build/img/img-header/logotype.svg" alt="" class="logo-img">
      </a>

    </div>
    <div class="search-cart-wrapper">
      <div class="search-wrapper">
        <button type="button" name="button">
        </button>

      </div>
      <div class="cart-wrapper" data-count = "25"></div>
    </div>
  </div>
  <form action="" class="header-search-input">
      <div class="input-group">
          <button class="icon-search-active">
          </button>
        <input type="text" placeholder="Поиск...">
      </div>
  </form>
</header>
