<section class="menu">
    <div class="menu-user">
        <a href="">Личный кабинет</a>
    </div>
    <ul class="menu-list">
        <li>
            <a href="">
                <img src="../../build/img/img-mainContent/open-book.svg" alt="">
                <span>Книги</span>
            </a>
            <ul class="menu-list inner">
                <li><a href="">Книги на иностранном языке</a></li>
                <li><a href="">VIP-издания</a></li>
                <li><a href="">Бизнес-книги</a></li>
                <li><a href="">Детям и родителям</a></li>
                <li><a href="">Журналы</a></li>
                <li><a href="">Нехудожественная литература</a></li>
                <li><a href="">Учебная литература</a></li>
                <li><a href="">Художественная литература</a></li>
            </ul>
        </li>
        <li>
            <a href="">
                <img src="../../build/img/img-mainContent/checkers.svg" alt="">
                <span>Игры</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="../../build/img/img-mainContent/puzzle.svg" alt="">
                <span>Пазлы</span>
            </a>
        </li>
    </ul>
    <ul class="menu-list bottom">
        <li><a href="">Доставка</a></li>
        <li><a href="">Оплата</a></li>
        <li><a href="">Накопительная скидка</a></li>
        <li><a href="">Статьи</a></li>
        <li><a href="">Рецензии</a></li>
        <li><a href="">Контакты</a></li>
    </ul>
</section>
