<section class="basket">
    <h1 class="h1-main-style">Корзина</h1>
    <ul class="basket-product-list">
        <li class="basket-product-wrapper">
            <!-- FileInjector:basketProduct -->
        </li>
        <li class="basket-product-wrapper">
            <!-- FileInjector:basketProduct -->
        </li>
    </ul>
    <div class="continue-buy-wrapper">
        <button class="continue-buy">Продолжить покупки</button>
    </div>
    <div class="buy-fast-block">
        <div class="total-amount">Итого<span>527</span></div>
        <button class="buy-fast-busket" type="button" name="button"><span>Перейти к оформлению заказа</span></button>
    </div>
</section>
