<section class="checkout">
    <div class="checkout-header">
        <h1 class="checkout-h1-style">Оформление заказа</h1>
        <ul class="step-by-step">
            <li class="info done">
                <div class="design"></div>
                <div class="title">Мои данные</div>
            </li>
            <li class="delivery done">
                <div class="design"></div>
                <div class="title">Доставка</div>
            </li>
            <li class="pay in-process">
                <div class="design"></div>
                <div class="title">Оплата</div>
            </li>
        </ul>
    </div>
    <div class="checkout-inner-wrapper">
        <!-- FileInjector:info -->
        <!-- FileInjector:delivery -->
        <!-- FileInjector:pay -->
    </div>
</section>
