<section class="ph-with-product">
    <h1 class="h1-style">Книги издательства <br>«А-БА-БА-ГА-ЛА-МА-ГА»</h1>
    <div class="reviews-hat">
        <span class="ph-books-count" data-count="52"> книги</span>
        <button class="sort">
            <div class="icon-more">
                <div class="icon-more-dots"></div>
                <div class="icon-more-dots"></div>
                <div class="icon-more-dots"></div>
            </div>
            <span>Сортировать</span>
        </button>
    </div>
    <ul class="bg-products-list">
        <li class="bg-product-wrapper">
            <!-- FileInjector:bgProduct -->
        </li>
        <li class="bg-product-wrapper">
            <!-- FileInjector:bgProduct -->
        </li>
        <li class="bg-product-wrapper">
            <!-- FileInjector:bgProduct -->
        </li>
        <li class="bg-product-wrapper">
            <!-- FileInjector:bgProduct -->
        </li>
        <li class="bg-product-wrapper">
            <!-- FileInjector:bgProduct -->
        </li>
    </ul>
    <div class="more-product-spinner"></div>
</section>
