<article class="">
    <h1>Название страницы</h1>
    <p>Информационная эра, век компьютеризации, эпоха высоких технологий и т.д. и т.п. Несложно догадаться, что все эти понятия характеризуют современность. Информационные технологии стали для общества вполне привычным и <i>одновременно незаменимым явлением</i>. Чуть ли не каждый из нас ежедневно пользуется компьютерным оборудованием. Мы настолько сильно привыкли к возможности молниеносно и беспрепятственно получать информацию с любого уголка планеты и так же быстро отправлять ее, что кажется, будто иначе быть не может. </p>
    <p>Во <b>многом это заслуга людей</b>, работающих в сфере информационных технологий или, как сейчас модно говорить, IT-индустрии. </p>
    <p><s>Данная область деятельности</s> пользуется невероятной популярностью, постоянно развивается и достаточно хорошо оплачивается. Следует отметить, что на сегодня Украина занимает почетное 4 место в мире по количеству сертифицированных IT специалистов. <span>Нашу страну опережают только Америка, Россия и Индия.</span></p>
    <figure>
      <img src="../../build/img/img-typography/image1.svg" alt="изображение в статье">
      <figcaption>figcaption в статье © Бабанов Дмитрий</figcaption>
    </figure>
    <p>Прежде, чем начать рассматривать лучшие книги по программированию, нужно отметить, что понятие “программирование” в широком смысле означает создание программ, с помощью которых человеку проще управлять компьютерной, бытовой техникой, промышленными установками и т.д. и т.п. </p>
    <p>Если же Вы интересуетесь конкретно компьютерным программированием и мечтаете в будущем стать высококлассным специалистом, то для начала следует усвоить основные понятия и запомнить общие принципы. Эти знания обязательно понадобятся Вам, независимо от того, какое конкретное направление Вы для себя выберете и каким языком предпочтете пользоваться.</p>
    <hr>
    <blockquote>
        <img src="../../build/img/img-typography/quotation.svg" alt="">
        <section>
            <p>Он ведь был заброшен очень давно — 1,5 тысячи лет назад. Его откапывали, открывали заново в 18 веке. Тогда он уже был в руинах. Поэтому то, что вы сегодня видите, у вас не должно быть.</p>
            <cite>Борис Кириков, <br>история архитектуры</cite>
        </section>
    </blockquote>
    <div>
        <img src="../../build/img/img-typography/image2.svg" alt="">
        <p>Очевидно, что пособие предназначено для активного использования людьми, чьи познания в программировании ограничены школьным курсом информатики.</p>
    </div>
    <p>Мы как хранители наследия Пальмиры — у нас <b>большая пальмирская коллекция</b> — поможем и изучить ситуацию, и дать рекомендации так, чтобы этот памятник стал памятником культуры и победы над фанатизмом, а не «новодельным» туристским объектом.</p>
    <section>
        <table>
            <tbody>
                <tr>
                    <td>Заголовок таблицы</td>
                    <td>Стопицотый заголовок</td>
                </tr>
                <tr>
                    <td>Первая надпись</td>
                    <td>Вторая надпись</td>
                </tr>
                <tr>
                    <td>Точно ли, очевидно?</td>
                    <td>Он ведь был забыт триста лет тому назад. Его откапывали и снова закапывали. Итак, он был в руинах.</td>
                </tr>
            </tbody>
        </table>
        <div></div>
    </section>
    <div>
        <table>
            <tbody>
                <tr>
                    <td>Размеры (ш/в/т)</td>
                    <td>216 мм / 180 мм / 20 мм</td>
                </tr>
                <tr>
                    <td>Поддерживаемые аудио- видеоформаты</td>
                    <td>AAC (от 8 до 320 кбит/с), AAC (из iTunes Store), HE-AAC, MP3 (от 8 до 320 кбит/с), MP3 VBR, Audible (форматы 2, 3, 4, Audible Enhanced Audio, AAX и AAX+), AIFF и WAV, Apple Lossless (ALAC).</td>
                </tr>
            </tbody>
        </table>
    </div>
    <h2>Видео-рецензия: на книгу Роберт Мартин «Чистый код. Создание, анализ и рефакторинг»</h2>
    <iframe  src="https://www.youtube.com/embed/QBWWplFkdzw" frameborder="0" gesture="media" allow="encrypted-media" allowfullscreen>Ваш браузер не поддерживает плавающие фреймы</iframe>
    <h2>Маркированный и нумерованный список</h2>
    <ol>
        <li>Первый</li>
        <li>Второй</li>
        <li>Третий</li>
    </ol>
    <ul>
        <li>Первый</li>
        <li>Второй</li>
        <li>Третий</li>
    </ul>
</article>
