<p class="free-delivery-ad">Доставка по Киеву – <span>БЕСПЛАТНО</span></p>
<div class="slider-wrapper">
    <!-- FileInjector:slider -->
</div>

<div class="promo-categories-wrapper">
    <!-- FileInjector:promoCategories -->
</div>
<div class="pop-wrapper">
    <!-- FileInjector:popCategories -->
</div>


<div class="bestsellers-wrapper">
    <h2 class="h2-style-main">Хиты продаж</h2>
    <div class="scroll-wrapper">
        <ul class="set-products-wrapper">
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:smProduct -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:smProduct -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:smProduct -->
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="bestsellers-wrapper">
    <h2 class="h2-style-main">Книжные новинки</h2>
    <div class="scroll-wrapper">
        <ul class="set-products-wrapper">
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:smProduct -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:smProduct -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:smProduct -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:smProduct -->
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="banner-img-wraper">
    <img src="../../build/img/img-mainContent/banner.svg">
</div>
<div class="bestsellers-wrapper before-footer">
    <h2 class="h2-style-main">Авторы самых рейтинговых книг</h2>
    <div class="scroll-wrapper">
        <ul class="set-products-wrapper">
            <li>
                <div class="sm-product-wrapper">
                    <!-- FileInjector:authorHitBlock -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:authorHitBlock -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                    <!-- FileInjector:authorHitBlock -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                    <!-- FileInjector:authorHitBlock -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:authorHitBlock -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                    <!-- FileInjector:authorHitBlock -->
                </div>
            </li>
        </ul>
    </div>
</div>
