<section class="pop-categories">
    <h2 class="h2-style-main">Популярные категории</h2>

    <ul class="poplist">
        <li>
            <a class="first-category" href="">
                <img src="../../build/img/img-mainContent/detyam.jpg" alt="">
                <span>Детям и родителям</span>
            </a>
        </li>
        <li>
            <a class="second-category" href="">
                <img src="../../build/img/img-mainContent/fantastika-i-fentezi.jpg" alt="">
               <span>Фантастика и фэнтези</span>
            </a>
        </li>
        <li>
            <a class="third-category" href ="">
                <img src="../../build/img/img-mainContent/biznes-knigi.png" alt="">
                <span>Бизнес-книги</span>
            </a>
        </li>
        <li>
            <a class="forth-category" href ="">
                <img src="../../build/img/img-mainContent/ukrainskaya-literatura.jpg" alt="">
            <span>Украинская литература</span>
            </a>
        </li>
    </ul>
    <button class="btn-main" type="button" name="button">Смотреть все категории</button>
</section>
