<section class="promo-categories">
    <ul class="promo-categories-list">
        <li>
            <a class="promo-books" href="">
                <img src="../../build/img/img-mainContent/open-book.svg" alt="">
                <span>Книги</span>
            </a>
        </li>

        <li>
            <a class="promo-games" href="">
                <img src="../../build/img/img-mainContent/checkers.svg" alt="">
                <span>Игры</span>
            </a>
        </li>
        <li>
            <a class="promo-puzzles" href="">
                <img src="../../build/img/img-mainContent/puzzle.svg" alt="">
                <span>Пазлы</span>
            </a>
        </li>
    </ul>
</section>
