<section class="article">
    <div class="article-top-wrapper">
        <ul class="breadcrumbs">
          <li><a href="#">Статьи</a></li>
          <li class="icon-more-wrapper">
              <div class="icon-more">
                  <div class="icon-more-dots"></div>
                  <div class="icon-more-dots"></div>
                  <div class="icon-more-dots"></div>
              </div>
          </li>
          <li class="active">Життя без обмежень</li>
        </ul>
        <h1 class="h1-main-style">Законы победителей: 10 книг об успешном бизнесе и финансах</h1>
        <p class="article-data">13 апреля 2016 г.</p>
        <p class="annotation-about-books">Что мешает вам жить так, как вы мечтаете? Нереализованность, недостаток денег, неумение распорядиться собственным временем или незнание законов бизнеса?</p>
    </div>
    <div class="article-title-img-wrapper">
        <img src="../../build/img/img-articles/title-img.svg" alt="" class="article-title-img">
    </div>
    <ul class="books-overview-list">
        <li class="book-overview-wrapper">
            <!-- FileInjector:articleSmBlock -->
        </li>
        <li class="book-overview-wrapper">
            <!-- FileInjector:articleSmBlock -->
        </li>
        <li class="book-overview-wrapper">
            <!-- FileInjector:articleSmBlock -->
        </li>
    </ul>
    <div class="info-about-article">
        <div class="article-property-wrapper">
            <div class="article-property">
                <p>Автор</p>
            </div>
            <div class="article-value">
                <a href="">Марьяна Альфавицкая</a>
            </div>
        </div>
        <div class="article-property-wrapper">
            <div class="article-property">
                <p>Раздел</p>
            </div>
            <div class="article-value">
                <a href="">Книги по самоменеджменту для всех</a>
            </div>
        </div>
    </div>
    <div class="article-reviews-wrapper">
        <!-- FileInjector:reviews -->
    </div>
</section>
