<section class="categories-with-products">
    <ul class="breadcrumbs">
      <li><a href="#">Книги</a></li>
      <li class="icon-more-wrapper">
          <div class="icon-more">
              <div class="icon-more-dots"></div>
              <div class="icon-more-dots"></div>
              <div class="icon-more-dots"></div>
          </div>
      </li>
      <li class="active">Книги на английском языке</li>
    </ul>
    <h1 class="h1-style">Книги на английском языке</h1>
    <div class="reviews-hat">
        <span class="categories-books-count" data-count="509"> книг</span>
        <button class="sort">
            <div class="icon-more">
                <div class="icon-more-dots"></div>
                <div class="icon-more-dots"></div>
                <div class="icon-more-dots"></div>
            </div>
            <span>Сортировать</span>
        </button>
    </div>
    <ul class="bg-products-list">
        <li class="bg-product-wrapper">
            <!-- FileInjector:bgProduct -->
        </li>
        <li class="bg-product-wrapper">
            <!-- FileInjector:bgProduct -->
        </li>
        <li class="bg-product-wrapper">
            <!-- FileInjector:bgProduct -->
        </li>
        <li class="bg-product-wrapper">
            <!-- FileInjector:bgProduct -->
        </li>
        <li class="bg-product-wrapper">
            <!-- FileInjector:bgProduct -->
        </li>
    </ul>
    <div class="pagination-wrapper">
        <ul class="pagination">
            <li class="show-prev"><a href=""></a></li>
            <li><a href="">1</a></li>
            <li><a href="">2</a></li>
            <li class="active">
                <span>3</span>
            </li>
            <li class="show-more">
                <span>...</span>
            </li>
            <li><a href="">10</a></li>
            <li><a href="">11</a></li>
            <li><a href="">12</a></li>
            <li class="show-next">
                <a href=""></a>
            </li>
        </ul>
    </div>
</section>
