<section class="categories">
    <h2 class="h2-style-main">Книги</h2>

    <ul class="categories-list">
        <li>
            <a href="">
                <img src="../../build/img/img-categories/foreign.svg" alt="">
                <span>Книги на иностранном языке</span>
            </a>
        </li>
        <li>
            <a href="">
                <img src="../../build/img/img-categories/vip.svg" alt="">
               <span>VIP-издания</span>
            </a>
        </li>
        <li>
            <a href ="">
                <img src="../../build/img/img-categories/busines.svg" alt="">
                <span>Бизнес-книги</span>
            </a>
        </li>
        <li>
            <a href ="">
                <img src="../../build/img/img-categories/child.svg" alt="">
            <span>Детям и родителям</span>
            </a>
        </li>
        <li>
            <a href ="">
                <img src="../../build/img/img-categories/journales.svg" alt="">
            <span>Журналы</span>
            </a>
        </li>
        <li>
            <a href ="">
                <img src="../../build/img/img-categories/non-fiction.svg" alt="">
            <span>Нехудожественная литература</span>
            </a>
        </li>
        <li>
            <a href ="">
                <img src="../../build/img/img-categories/educational.svg" alt="">
            <span>Учебная литература</span>
            </a>
        </li>
        <li>
            <a href ="">
                <img src="../../build/img/img-categories/fiction.svg" alt="">
            <span>Художественная литература</span>
            </a>
        </li>
    </ul>
</section>
