<section class="subcategories">
    <h2 class="h2-style-main">Книги на иностранном языке</h2>

    <ul class="subcategories-list">
        <li class="subcategories-list-item">
            <a href="">
                <img src="../../build/img/img-categories/subcategories/english.svg" alt="">
                <span>Книги на английском языке</span>
            </a>
            <ul class="subcategories-list-inner">
                <li><a href="">Бизнес и экономика</a></li>
                <li><a href="">Все науки</a></li>
                <li><a href="">Детская литература</a></li>
                <li><a href="">Искусство и фотография</a></li>
                <li><a href="">Компьютеры и ИТ</a></li>
                <li><a href="">Художественная литература на английском языке</a></li>
            </ul>
        </li>
        <li class="subcategories-list-item">
            <a href="">
                <img src="../../build/img/img-categories/subcategories/french.svg" alt="">
               <span>Книги на французском языке</span>
            </a>
            <ul class="subcategories-list-inner">
                <li><a href="">Художественная литература на французском языке</a></li>
            </ul>
        </li>
        <li class="subcategories-list-item">
            <a href ="">
                <img src="../../build/img/img-categories/subcategories/german.svg" alt="">
                <span>Книги на немецком языке</span>
            </a>
            <ul class="subcategories-list-inner">
                <li><a href="">Художественная литература на немецком языке</a></li>
            </ul>
        </li>
        <li class="subcategories-list-item">
            <a href ="">
                <img src="../../build/img/img-categories/subcategories/italia.svg" alt="">
            <span>Книги на итальянском языке</span>
            </a>
            <ul class="subcategories-list-inner">
                <li><a href="">Художественная литература на итальянском языке</a></li>
            </ul>
        </li>
        <li class="subcategories-list-item">
            <a href ="">
                <img src="../../build/img/img-categories/subcategories/spain.svg" alt="">
            <span>Книги на испанском языке</span>
            </a>
            <ul class="subcategories-list-inner">
                <li><a href="">Художественная литература на испанском языке</a></li>
            </ul>
        </li>
        <li class="subcategories-list-item">
            <a href ="">
                <img src="../../build/img/img-categories/subcategories/swedish.svg" alt="">
            <span>Книги на шведском языке</span>
            </a>
            <ul class="subcategories-list-inner">
                <li><a href="">Художественная литература на шведском языке</a></li>
            </ul>
        </li>
    </ul>
</section>
