<section class="contact-send-message">
    <button class="back-to-contacts"><span>Вернуться к контактам</span></button>
    <p class="title">Написать сообщение</p>
    <div class="inner-wrapper">
        <p class="request">Пожалуйста, указывайте реальные контактные данные, чтобы мы могли беспрепятственно с Вами связаться.</p>
        <form action="">
            <div class="input-forms-wrapper">
                <p class="input-title">Имя</p>
                <input class="contact-input" type="text" name="name" value="">
                <p class="input-title">Телефон</p>
                <input class="contact-input" type="tel" name="name" value="">
                <p class="input-title">Электронная почта </p>
                <input class="contact-input" type="email" name="name" value="">
                <div class="message-category">
                    <p class="input-title">Категория сообщения</p>
                    <div class="btn-cooperation-advertising">
                        <button class="cooperation">Сотрудничество</button>
                        <button class="advertising">Реклама</button>
                    </div>
                </div>
                <p class="input-title">Тема сообщения</p>
                <input class="contact-input" type="text" name="name" value="">
                <p class="input-title">Сообщение</p>
                <textarea class="contact-textarea" name="review" rows="8" cols=""></textarea>
                <label class="attach-file"><input type="file" name="" value="">
                    <span>Прикрепить файл</span>
                </label>
                <div class="captcha-block-wrapper">
                    <p class="input-title">Введите текст с картинки</p>
                    <div class="captcha-block">
                        <img src="../../build/img/img-user/captcha.svg" alt="" class="captcha">
                        <input type="text" class="contact-input">
                    </div>
                </div>
            </div>
        </form>
    </div>
    <button class="btn-send-message">Отправить сообщение</button>
</section>
