<div class="pop-up-personal-info-wrapper">
    <p class="pop-up-title">Личная информация</p>
    <form action="" class="rating-opinion-form">
        <div class="input-forms-wrapper">
            <p class="input-title">Имя</p>
            <input class="pop-up-input" type="text" name="name" value="">
            <p class="input-title">Фамилия</p>
            <input class="pop-up-input" type="text" name="surname" value="">
            <p class="input-title">Отчество</p>
            <input class="pop-up-input" type="text" name="patronymic" value="">
            <p class="input-title">Электронная почта</p>
            <input class="pop-up-input" type="text" name="e-mail" value="">
            <p class="input-title">Телефон</p>
            <input class="pop-up-input" type="text" name="number" value="">

            <button class="pop-up-send-btn"  type="button" name="button">Сохранить</button>
        </div>
    </form>
</div>
