<div class="pop-up-passwors-change-wrapper">
    <p class="pop-up-title">Изменить пароль</p>
    <form action="" class="rating-opinion-form">
        <div class="input-forms-wrapper">
            <p class="input-title">Новый пароль</p>
            <input class="pop-up-input" type="text" name="e-mail" value="">
            <p class="input-title">Новый пароль еще раз</p>
            <input class="pop-up-input" type="text" name="e-mail" value="">

            <button class="pop-up-send-btn"  type="button" name="button">Сохранить</button>
        </div>
    </form>
</div>
