<div class="pop-up-subcategories-wrapper">
    <p class="subcategories-titul">Подкатегории статей</p>
    <ul class="subcategories-list">
        <li><a href=""><span data-count="6">Книги на иностранном языке</span></a></li>
        <li><a href=""><span data-count="0">VIP-издания</span></a></li>
        <li><a href=""><span data-count="8">Бизнес-книги</span></a></li>
        <li><a href=""><span data-count="8">Детям и родителям</span></a></li>
        <li><a href=""><span data-count="0">Журналы</span></a></li>
        <li><a href=""><span data-count="0">История</span></a></li>
        <li><a href=""><span data-count="0">Книги для дома</span></a></li>
        <li><a href=""><span data-count="0">Научная литература</span></a></li>
        <li><a href=""><span data-count="19">Нехудожественная литература</span></a></li>
        <li><a href=""><span data-count="0">Справочная литература</span></a></li>
        <li><a href=""><span data-count="4">Учебная литература</span></a></li>
        <li><a href=""><span data-count="0">Фотоальбомы</span></a></li>
        <li><a href=""><span data-count="53">Художественная литература</span></a></li>
        <li><a href=""><span data-count="0">Энциклопедии</span></a></li>
    </ul>
</div>
