<div class="pop-up-comment-reply-wrapper">
    <p class="pop-up-title">Оставить краткий комментарий</p>
    <form action="" class="rating-opinion-form">
        <div class="input-forms-wrapper">
            <div class="input-reply-block">
                <div class="input-reply-block-close-btn"></div>
                <p class="input-title">Кому</p>
                <input placeholder="Администратор Букля" class="pop-up-input input-disabled" type="text" name="name" value="">
                <p class="input-title">Тема</p>
                <input class="pop-up-input input-disabled" type="text" name="name" value="">
            </div>
            <p class="input-title">Ваше имя</p>
            <input class="pop-up-input" type="text" name="name" value="">
            <p class="input-title">E-mail</p>
            <input class="pop-up-input" type="text" name="e-mail" value="">
            <p class="input-title">Комментарий</p>
            <textarea class="pop-up-textarea" name="review" rows="8" cols=""></textarea>
            <button class="pop-up-send-btn"  type="button" name="button">Отправить</button>
        </div>
    </form>
</div>
