<div class="pop-up-success-check-in-wrapper">
    <div class="img-success"></div>
    <p class="thnx-for-review">Спасибо за регистрацию</p>
    <p class="appeal-block">
        <span class="user-name">Уважаемый(ая) Иван!</span>
        <br> Было отправлено письмо
        <br>с дальнейшими шагами регистрации на указанный Вами email
        <span class="user-email">ivanov@ivanov.ru.</span>
    </p>
    <div class="time-countdown">
        <p>Автоматически закроется через</p>
        <div class="rest-of-time">5</div>
    </div>
</div>
