<div class="pop-up-comment-wrapper">
    <p class="pop-up-title">Оставить краткий комментарий</p>
    <form action="" class="rating-opinion-form">
        <div class="input-forms-wrapper">
            <p class="input-title">Ваше имя</p>
            <input class="pop-up-input" type="text" name="name" value="">
            <p class="input-title">E-mail</p>
            <input class="pop-up-input" type="email" name="e-mail" value="">
            <p class="input-title">Комментарий</p>
            <textarea class="pop-up-textarea" name="review" rows="8" cols=""></textarea>
            <button class="pop-up-send-btn"  type="button" name="button">Отправить</button>
        </div>
    </form>
</div>
