.other-editions {
    @include calc(margin-top, 9.5);
    .h2-style-product {
        @include calc(margin-bottom, 11);
    }
    .other-editions-list {
        li {
            display: flex;
            align-items: center;
            justify-content: space-between;
            border-top: 0.3vw solid $styleGrey;
            @include calc(padding-right, 12);
            &:last-child {
                border-bottom: 0.3vw solid $styleGrey;
            }
            .edition-name {
                display: inline-block;
                @include calc(padding-left, 16);
                @include calc(padding-bottom, 15);
                @include calc(padding-top, 15);
            }
            .buy-in-another-edition {
                @include calc(padding-left, 7);
                @include calc(padding-right, 7);
                @include calc(padding-bottom, 4);
                @include calc(padding-top, 3);
                border: 0.3vw solid rgba(255, 120, 72, 0.4);
                @include calc(border-radius, 3);
                span {
                    font-size: $middleFZ;
                    color: $orange;
                    font-weight: 700;
                    &:after {
                        content: " грн";
                        font-weight: 400;
                        font-size: $standartFZ;
                    }
                }
            }
            .not-available {
                font-size: $middleFZ;
                color: $notAvailableFZ;
            }
        }
    }
}
