<section class="page-not-found">
    <p class="title">Ошибочка</p>
    <p class="explanation">Похоже, такой страницы больше нет, <br>попробуйте поискать что-то еще</p>
    <div class="img-wrapper">
        <img class="owl-left" src="../../build/img/404/owl-left.svg" alt="">
        <img class="owl" src="../../build/img/404/owl.svg" alt="">
        <img class="owl-right" src="../../build/img/404/owl-right.svg" alt="">
        <img class="owl-bottom" src="../../build/img/404/owl-bottom.svg" alt="">
    </div>

    <button class="back">Вернуться к покупкам</button>
</section>
