<div class="basket-product">
    <div class="basket-product-img-wrapper">
        <a href="">
            <img src="../../build/img/img-product/book1.svg" alt="">
        </a>
    </div>
    <div class="basket-product-info-wrapper">
        <div class="basket-product-title-wrapper">
            <p class="basket-product-title">
                <a href="">Как рисовать супергероев. Эксклюзивное интервью</a>
            </p>
        </div>
        <p class="basket-product-author-name">Стэн Ли</p>
        <div class="quantity-price-wrapper">
            <div class="quantity">
                <span class="minus"></span>
                <input type="text" placeholder="1" class="quantity-product">
                <span class="plus"></span>
            </div>
            <p class="product-price">472</p>
        </div>
    </div>
    <div class="basket-product-refuse"></div>
</div>
