<div class="courier-services">
    <p class="subtitle">Выберите курьерскую службу</p>
    <ul class="courier-services-list">
        <li class="courier-service active">
            <img src="../../build/img/img-order/nova-poshta.svg" alt="">
            <p>Новая почта</p>
        </li>
        <li class="courier-service">
            <img src="../../build/img/img-order/mist.svg" alt="">
            <p>МистЭкспресс</p>
        </li>
        <li class="courier-service">
            <img src="../../build/img/img-order/ukrposhta.svg" alt="">
            <p>УкрПочта</p>
        </li>
    </ul>
    <div class="courier-services-details-wrapper">
        <!-- FileInjector:courierServiceDetails -->
    </div>
</div>
