<section class="checkout-delivery">
    <div class="inner-wrapper">
        <p class="title">Доставка</p>
        <p class="subtitle">Выберите город</p>
        <input class="input" type="text" name="" value="">
        <ul class="delivery-type-list">
            <li class="delivery-type courier active">
                <p class="name">Курьерская служба</p>
                <div class="description-img">
                    <img src="../../build/img/img-order/nova-poshta.svg" alt="">
                    <p class="description">Новая почта и др.</p>
                </div>

            </li>
            <li class="delivery-type pickup">
                <p class="name">Самовывоз</p>
                <p class="description">г. Киев, ул. Ревуцкого, 42В</p>
            </li>
            <li class="delivery-type courier-kiev">
                <p class="name">Курьером по Киеву</p>
            </li>
        </ul>
        <div class="shipping-details-wrapper">
            <!-- FileInjector:courierService -->
            <!-- FileInjector:address -->
        </div>
    </div>

    <button class="choose-pay-type done">
        <span>Выбрать способ оплаты</span>
    </button>
</section>
