<section class="checkout-info">
    <div class="inner-wrapper">
        <div class="btn-new-regular-customer">
            <button class="new-customer active">Новый покупатель</button>
            <button class="regular-customer">Постоянный клиент</button>
        </div>
        <p class="title">Мои данные</p>
        <p class="subtitle">Мобильный телефон</p>
        <input class="input mobile-phone" type="tel" name="" value="">
        <p class="subtitle">Электронная почта</p>
        <input class="input" type="email" name="" value="">
        <p class="subtitle">ФИО</p>
        <input class="input" type="text" name="" value="">
    </div>

    <button class="choose-delivery-type">
        <span>Выбрать способ доставки</span>
    </button>
</section>
