<section class="checkout-pay">
    <div class="inner-wrapper">
        <p class="title">Оплата</p>
        <ul class="pay-type-list">
            <li class="pay-type">
                <p class="name">Наличными</p>
                <p class="description">Оплата заказа в руки</p>
            </li>
            <li class="pay-type active">
                <p class="name">Безналичными</p>
                <p class="description">Предоплата по счету</p>
            </li>
        </ul>
    </div>
    <button class="checkout-btn active">
        <div class="btn-text-wrapper">
            <div class="ok-wrapper"></div>
            <span>Оформить заказ</span>
        </div>
    </button>
</section>
