<section class="checkout-success">
    <div class="inner-wrapper">
        <div class="success-img"></div>
        <p class="thanks">Спасибо за Ваш заказ</p>
        <div class="order-number">
            <p>Номер заказа</p>
            <span>186623</span>
        </div>
        <div class="message-block">
            <p>Наши менеджеры свяжутся с Вами в ближайшее время.</p>
            <p>На указанный Вами E-mail было отправлено сообщение с подробной информацией о заказе.</p>
        </div>
    </div>
    <button class="back-to-buy">
        <span>Вернуться к покупкам</span>
    </button>
</section>
