<section class="contacts">
    <p class="title">Контакты</p>
    <ul class="contacts-list">
        <li>
            <a href="tel:0443605700">
                <p class="landline">
                    <b>(044)</b>&#160;360 57 00
                </p>
                <div class="call-now">позвонить</div>
            </a>
        </li>
        <li>
            <a href="tel:0502245556">
                <p class="vodafone">
                    <b>(050)</b>&#160;224 55 56
                </p>
                <div class="call-now">позвонить</div>
            </a>
        </li>
        <li>
            <a href="tel:0937177930">
                <p class="lifecell">
                    <b>(093)</b>&#160;717 79 30
                </p>
                <div class="call-now">позвонить</div>
            </a>
        </li>
        <li>
            <a href="tel:0689409151">
                <p class="kyivstar">
                    <b>(068)</b>&#160;940 91 51
                </p>
                <div class="call-now">позвонить</div>
            </a>
        </li>
    </ul>
    <p class="or">или</p>
    <div class="inner-wrapper">
        <button class="skype-btn"><p>Позвонить в Skype</p></button>
        <button class="message-btn"><p>Написать сообщение</p></button>
        <div class="our-shop-block">
            <p class="subtitle">Наш магазин</p>
            <div class="img-address-block">
                <img src="../../build/img/img-contact/shop.svg" alt="" class="store-photo">
                <div class="address-btn-block">
                    <div class="address">
                        <p><b>Киев</b></p>
                        <p>ул. Ревуцкого 42-В</p>
                    </div>
                    <button class="look-map">Посмотреть на карте</button>
                </div>
            </div>
            <div class="working-hours-block">
                <p class="working-hours">Время работы</p>
                <div class="timetable">
                    <div class="date-time">
                        <p class="date">Понедельник - Пятница</p>
                        <p class="time">9:00 - 19:00</p>
                    </div>
                    <div class="date-time">
                        <p class="date">Суббота</p>
                        <p class="time">9:00 - 18:00</p>
                    </div>
                    <div class="date-time">
                        <p class="date">Воскресенье</p>
                        <p class="time">выходной</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="email-block">
        <p class="subtitle">Электронная почта</p>
        <a href="" class="email">
            <p>info@booklya.ua</p>
            <div class="writ-now">написать</div>
        </a>
    </div>
</section>
