<ul class="breadcrumbs">
  <li><a href="#">Книги</a></li>
  <li><a href="#">Нехудожественная литература</a></li>
  <li><a href="#">Общественные и гумманитарные науки</a></li>
  <li><a href="#">Психология</a></li>
  <li><a href="#">Практическая психология</a></li>
  <li class="icon-more-wrapper">
      <div class="icon-more">
          <div class="icon-more-dots"></div>
          <div class="icon-more-dots"></div>
          <div class="icon-more-dots"></div>
      </div>
  </li>
  <li class="active">Искусство быть счастливым</li>
</ul>
<div class="titul-book-wrapper">
    <h1 class="h1-main-style">Книга «Життя без обмежень»</h1>
    <div class="rating-review-wrapper">
        <div class="star-rating-wrapper">
            <!-- FileInjector:starRating -->
            <span class="star-rating-counting">3.11</span>
        </div>
        <div class="number-review-wrapper">
            <span data-count="20"> отзывов</span>
        </div>
    </div>
    <section class="slider">
      <div class="slider-img-wraper">
          <img src="../../build/img/img-product/book2.svg">
      </div>
      <div class="slider-dots-wraper">
        <div class="slider-dot slider-dot-active"></div>
        <div class="slider-dot"></div>
      </div>
    </section>
    <div class="price-stocks-wrapper">
        <div class="price-wrapper">
            <span>130</span>
        </div>
        <div class="stocks-wrapper">
            <div class="article">
                <span>126940</span>
            </div>
            <div class="availability">
                <span>Есть в наличии</span>
            </div>
        </div>
    </div>

</div>
<div class="characteristics-info-wraper">
    <h2 class="h2-style-product">Характеристики</h2>
    <div class="characteristics-table-wrapper">
        <div class="characteristics-table">
            <div class="property-wrapper">
                <div class="property">
                    <p>Автор</p>
                </div>
                <div class="value">
                    <a href="">Ник Вуйчич</a>
                </div>
            </div>
            <div class="property-wrapper">
                <div class="property">
                    <p>Издательство</p>
                </div>
                <div class="value">
                    <a href="">Видавництво Форс</a>
                </div>
            </div>
            <div class="property-wrapper">
                <div class="property">
                    <p>Год издания</p>
                </div>
                <div class="value">
                    <span>2016</span>
                </div>
            </div>
        </div>
    </div>
</div>
<ul class="show-more-properties">
    <li class="show-all-characteristics"><a href=""><span>Посмотреть все характеристики</span></a></li>
    <li><a href=""><span>Описание товара</span></a></li>
    <li><a href=""><span class="reviews-count" data-count="52">Отзывы</span></a></li>
    <li><a href=""><span>Доставка и оплата</span></a></li>
    <li><a href=""><span>В других изданиях</span></a></li>
    <li><a href=""><span>Разделы, в которых можно купить <span class="current-book-title">«Життя без обмежень»</span> </span></a></li>
</ul>
<div class="author-info-preview">
    <h2 class="h2-style-product">Автор книги</h2>
    <div class="author-card">
        <div class="author-img-wrapper">
            <img src="../../build/img/img-product/img-author.svg">
        </div>
        <div class="author-info-wrapper">
            <p class="author-card-name">Ник Вуйчич</p>
            <p class="author-card-born">Австралия, 04.12.1982</p>
            <div class="star-rating-wrapper">
                <!-- FileInjector:starRating -->
                <span class="star-rating-counting">3.11</span>
            </div>
        </div>
    </div>
</div>
<ul class="show-more-properties">
    <li><a href=""><span>Подробно о авторе</span></a></li>
</ul>
<div class="bestsellers-wrapper before-footer">
    <h2 class="h2-style-main">Другие книги из категории
«Достижение успеха в жизни»</h2>
    <div class="scroll-wrapper">
        <ul class="set-products-wrapper">
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:smProduct -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:smProduct -->
                </div>
            </li>
            <li>
                <div class="sm-product-wrapper">
                <!-- FileInjector:smProduct -->
                </div>
            </li>
        </ul>
    </div>
</div>
<button class="buy-fast" type="button" name="button"><span>Купить за 130 грн</span></button>
