<section class="reviews">
    <div class="reviews-hat">
        <span class="reviews-count" data-count="52">Отзывы</span>
        <button class="sort">
            <div class="icon-more">
                <div class="icon-more-dots"></div>
                <div class="icon-more-dots"></div>
                <div class="icon-more-dots"></div>
            </div>
            <span>Сортировать</span>
        </button>
    </div>

    <div class="review-item-wrapper classed long">
        <div class="review-item-hat-wrapper">
            <div class="review-item-hat">
                <div class="star-rating-user-block">
                    <!-- FileInjector:starRating -->
                    <span class="user-name">Светлана</span>
                </div>
                <span class="review-data">4 апреля 2016</span>
            </div>
        </div>
        <div class="review-item-content-wrapper">
            <div class="review-item-text-wrapper">
                <p class="review-item-title">Життя без обмежень. Нік Вуйчич</p>
                <div class="review-item-text">
                    <p>Не первый раз заказываю у вас книги. Спасибо, за хороший сервис. Честно говоря, купила книгу, узнав о розыгрыше. Я уже давно знала, что Ник Вуйчич будет в сентябре в Киеве и очень рада, что Букля предоставляет такую возможность, выиграть билет. Надеюсь, мне повезет и я смогу больше узнать на его</p>
                    <div class="overlay-text-long"></div>
                </div>
            </div>
            <div class="review-btn-wrapper">
                <div class="btn-reply-read-more">
                    <button class="read-more">Читать полностью</button>
                    <button class="reply-more">Ответить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="review-item-wrapper">
        <div class="review-item-hat-wrapper">
            <div class="review-item-hat">
                <div class="star-rating-user-block">
                    <!-- FileInjector:starRating -->
                    <span class="user-name">Ирина</span>
                </div>
                <span class="review-data">3 марта 2016</span>
            </div>
        </div>
        <div class="review-item-content-wrapper">
            <div class="review-item-text-wrapper">
                <p class="review-item-title">Життя без обмежень. Нік Вуйчич</p>
                <div class="review-item-text">
                    <p>Спасибо "Букле" за возможность попасть на выступления такого потрясающего человека как Ник Вуйвич! Его книги способны изменить жизнь!</p>
                    <div class="overlay-text-long"></div>
                </div>
            </div>
            <div class="review-btn-wrapper">
                <button class="btn-reply">Ответить</button>
            </div>
        </div>
    </div>

    <div class="review-item-wrapper  item-reply-wrapper">
        <div class="review-item-hat-wrapper">
            <div class="review-item-hat">
                <span class="user-name">Администратор Букля</span>
                <span class="review-data">3 марта 2016</span>
            </div>
        </div>
        <div class="review-item-content-wrapper">
            <div class="reply-answer"><span>Ирина</span></div>
            <div class="review-item-text-wrapper">
                <div class="review-item-text">
                    <p>Спасибо "Букле" за возможность попасть на выступления такого потрясающего человека как Ник Вуйвич! Его книги способны изменить жизнь!</p>
                    <div class="overlay-text-long"></div>
                </div>
            </div>
            <div class="review-btn-wrapper">
                <button class="btn-reply">Ответить</button>
            </div>
        </div>
    </div>

    <div class="review-item-wrapper long item-reply-wrapper">
        <div class="review-item-hat-wrapper">
            <div class="review-item-hat">
                <span class="user-name">Ирина</span>
                <span class="review-data">3 марта 2016</span>
            </div>
        </div>
        <div class="review-item-content-wrapper">
            <div class="reply-answer"><span>Администратор Букля</span></div>
            <div class="review-item-text-wrapper">
                <div class="review-item-text">
                    <p>Первый раз книга попала мне в руки несколько лет назад, начала читать и решила купить себе. Свой экземпляр подарила племяшке, теперь хочу ещё, тем более на украинском языке. Книга очень понравилась! Я много перечитала подобной литературы, но эта книга </p>
                    <div class="overlay-text-long"></div>
                </div>
            </div>
            <div class="review-btn-wrapper">
                <div class="btn-reply-read-more">
                    <button class="read-more">Читать полностью</button>
                    <button class="reply-more">Ответить</button>
                </div>
            </div>
        </div>
    </div>

    <div class="review-item-wrapper">
        <div class="review-item-hat-wrapper">
            <div class="review-item-hat">
                <span class="user-name">Дарья</span>
                <span class="review-data">27 февраля 2016</span>
            </div>
        </div>
        <div class="review-item-content-wrapper">
            <div class="review-item-text-wrapper">
                <div class="review-item-text">
                    <p>Здравствуйте! Когда будет издание 2017 года?</p>
                    <div class="overlay-text-long"></div>
                </div>
            </div>
            <div class="review-btn-wrapper">
                <button class="btn-reply">Ответить</button>
            </div>
        </div>
    </div>

    <div class="review-item-wrapper">
        <div class="review-item-hat-wrapper">
            <div class="review-item-hat">
                <span class="user-name">Анька1986</span>
                <span class="review-data">16 февраля 2016</span>
            </div>
        </div>
        <div class="review-item-content-wrapper">
            <div class="review-item-text-wrapper">
                <div class="review-item-text">
                    <p>Очень хочу себе подарочное издание. Будет такое в наличии?</p>
                    <div class="overlay-text-long"></div>
                </div>
            </div>
            <div class="review-btn-wrapper">
                <button class="btn-reply">Ответить</button>
            </div>
        </div>
    </div>
    <button class="show-more-reviews">Показать еще отзывы</button>
    <button class="give-feedback"><span>Оставить отзыв</span></button>
</section>
