<section class="author">
    <h1 class="h1-main-style">Виктор Пелевин</h1>
    <div class="img-author-main-wrapper">
        <img src="../../build/img/img-author/author.svg" alt="" class="author-photo-main">
    </div>
    <div class="rating-review-wrapper">
        <div class="star-rating-wrapper">
            <!-- FileInjector:starRating -->
            <span class="star-rating-counting">3.11</span>
        </div>
        <div class="number-review-wrapper">
            <span data-count="5"> отзывов</span>
        </div>
    </div>
    <div class="btn-leave-review-wrapper">
        <button class="leave-review"><span>Оставить отзыв</span></button>
    </div>
    <div class="about-author-wrapper">
        <h2 class="about-author-title">О авторе</h2>
        <div class="about-author-basic-info">
            <p>Виктор Пелевин</p>
            <p>Россия, 22.11.1952</p>
        </div>
        <div class="about-author-full-info">
            <p><span>Виктор Пелевин</span> — один из популярнейших российских писателей современности. Его произведения читают представители разных возрастных категорий, стиля жизни, рода деятельности, религиозных убеждений, национальной принадлежности и т.д. Личность писателя окутана загадочностью и неоднозначностью, а мистические книги Пелевина вызывают широчайший спектр эмоций, от полнейшего восторга до ощущения внутренней пустоты и обескураженности.</p>
            <p>Виктор Пелевин родился 22 ноября 1962 года в Москве в преподавательской семье (мама — завуч, учитель английского языка (есть также данные, что она была директором гастронома), отец — преподаватель на военной кафедре МВТУ им. Баумана).</p>
            <p>Начальное образование Пелевин (книги сейчас производят фурор среди публики) получил в престижной московской школе с углубленным изучением английского языка №31. В этом заведении учились дети знаменитых актеров, политических деятелей и других представителей элиты.</p>
            <p>После школы будущий автор бестселлеров поступил в МЭИ, где познавал тонкости электрификации и автоматизации промышленности и транспорта. По окончанию ВУЗа Пелевин какое-то время поработал инженером кафедры электротранспорта в родном институте. Некоторые источники подают информацию, что писатель служил в ВВС, но этот период не датируется.</p>
            <p>Автор делал попытки приобщиться к литературе на научном уровне, но они не увенчались успехом. Дело в том, что в 1989 году он поступил в Литературный институт им. Горького, но через 2 года бросил его. Сам Пелевин (книги его тогда еще не издавались) в интервью отмечал, что ничего полезного для себя из литинститута не вынес. Тем не менее, именно там он познакомился с основателями небольшого издательства Виктором Куллэ и Альбертом Егазаровым, для которых подготовил три тома американского мистика Карлоса Кастанеды. Далее последовало сотрудничество с несколькими популярными журналами, в одном из которых был напечатан первый рассказ Виктора Пелевина “Колдун Игнат и люди” (по другим данным — “Дед Игнат и люди”).</p>
            <p>Истинная популярность пришла к писателю в 1992 году, когда были выпущены книги Пелевина “Синий фонарь”, включавшие в себя отдельные рассказы. В этот же период опубликован роман “Омон Ра”, заслуживший одобрение и рядовых читателей, и критиков. За тот год автор получил несколько литературных премий.</p>
            <p>С начала 90-х мир увидели многие новые книги Пелевина. Самыми полюбившимися публике можно назвать романы “Чапаев и Пустота”, “Generation „П“”, “Бэтман Аполло”, «Empire V» и др. Многие стали основой для театральных постановок художественных фильмов.</p>
            <p>В ассортименте нашего интернет-магазина есть как нашумевшие произведения, ставшие уже классикой российского постмодернизма, так так и совершенно новая книга Пелевина “Смотритель” (2 тома). Вы можете приобрести любое из представленных изданий по приемлемой цене и в удобное время.</p>
        </div>
    </div>
    <ul class="author-books-reviews-list">
        <li>
            <a href="">
                <span class="books-count" data-count="52">Книги автора</span>
            </a>
        </li>
        <li>
            <a href="">
                <span class="reviews-count" data-count="6">Отзывы</span>
            </a>
        </li>
    </ul>
</section>
